extends layoutBS

block content
  
  h1= title
  .col-sm-6
    img(src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2f/Hannaford_logo.svg/1200px-Hannaford_logo.svg.png" width="30%")
    | &nbsp &nbsp &nbsp
    img(src="https://tasteofarcadia.com/wp-content/uploads/2016/04/Hmart-Logo.png" width="30%")
    | &nbsp &nbsp
    img(src="https://cdn.freebiesupply.com/logos/large/2x/star-market-1-logo-png-transparent.png" width="30%")
    
  p.big   Welcome to #{title}
  p.intro
    |   This is a webstie to review grocery items in Hannaford, Hmart etc. 
    br
    |   You may go to the "Shopping" Page to start our service. 
  p.rulehead.big Rules for upload and editing
  ul 
    li.rule Rule #1 Less is more
    li.rule Rule #2 Be objective
    li.rule Rule #3 Lalala
    li.rule Rule #4


  

