head
  link(rel='stylesheet' href='//drrr.com/css/app.css?v=20180614.09.31')

#body
  .home-wrap
    .logo-wrapper
      img(width="100%" src='/images/Shopat.jpg' alt='Card image cap')
      a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Google
    //- form(action='' method='post')
    //-   #t_form.login-form.field
    //-     .home-name
    //-       label(for='form-name') Username:
    //-       input#form-name.home-name-input(type='text' name='name' size='10' maxlength='40' required='' autocomplete='on')
    //-     .home-submit
    //-       input.submit-input.home-submit-input(type='submit' name='login' value='ENTER')
    //-     input(type='hidden' name='token' value='a5dd417198b772e49370407cad839a7a')
    //-     input(type='hidden' name='direct-join' value='')
      

